/*ALL PAGE*/
* {
    padding: 0;
    margin: 0;
}

/*MENU BAR*/
@media only screen and (max-width: 768px) {

    #logo-ins {
        width: 70px;
        margin: -3px 0 0 29%;
    }

    .barra {
        background-color: #676868;
        height: 100%;
        width: 300px;
        position: absolute;
        transition: all .2s linear;
        left: -300px;
    }

    nav {
        width: 100%;
        position: absolute;
        top: 63px;
    }

    nav a {
        text-decoration: none;
    }

    .link {
        background-color: rgb(158, 157, 157);
        padding: 20px;
        font-family: 'Arial';
        font-size: 12pt;
        transition: all .2s linear;
        color: rgb(100, 99, 99);
        border-bottom: 2px solid rgb(90, 88, 88);
    }

    .link:hover {
        background-color: rgb(121, 120, 120);
    }

    #check:checked ~ .barra {
        transform: translateX(300px);
    }

    #menu-nav {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
	.barra {
        display:none;
    }

    #menu-bar {
        display: none;
    }

    #logo-ins {
        width: 63px;
        margin: 0 0 0 48.9%;
    }

    #menu-nav ul {
        background-color:rgb(233, 233, 233);
        list-style:none;
        height: 3rem;
        text-align: center;
    } 
    
    #menu-nav ul li { 
        display: inline;
        padding: 0px 30px;
    }

    
    #menu-nav ul li a {
        padding: 12px 10px;
        display: inline-block;
        font-size: 14pt;
    
        /* visual do link */
        background-color:rgb(233, 233, 233);
        color: gray;
        text-decoration: none;
        font-family: 'Merriweather', serif;
    }
    
    #menu-nav ul li a:hover {
        color: rgb(207, 204, 204);
    }
    
    

}
    
/*HEADER*/


.principal-header { 
    background-color: #676868;
}

.fast-messages {
    background-color: rgb(233, 233, 233);
    color: gray;
    text-align: center;
    height: 1rem;
}

.head-container {
    height: 4rem;
    margin: 0rem 12rem 0rem 12rem;
}

#menu-bar {
    width: 30px;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}








/*ul li {
    display: inline-block;
    margin-left: 100px;
    margin-top: 5.5px;
    height: 1.9rem;
}

.first-item {
    margin-left: 603px;
}

a:link {
    text-decoration: none;
    font-size: 13pt;
    font-family: 'Merriweather', serif;
}

ul {
    background-color: rgb(233, 233, 233);
    height: 2rem;
}

#menu-nav-bar ul li a:hover {
    background-color:#D6D6D6;
    color: #ee2e2e;
    border-bottom:3px solid #EA0000;
}*/
